---
layout: page
title: REEL
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Robots in Education &#38; <br> Entertainment Laboratory</h1>
          <p class="animated fadeInUp">We love the Web and the work we do. We work closely with our clients to deliver the best possible solutions for their needs</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
              <h2>Lab(부서)개요</h2>
          </div>
          <p>
              한성대학교 교육로봇연구실(REEL : Robots in Education & Entertainment Laboratory)는 1996년에 설립된 이래, 다중 로봇의 협조작업, 인간-로봇의 협업, 로봇과의 상호작용을 기반으로 한 교육∙문화 활동의 효과성 제고 방안 등을 연구하고 있습니다.
          </p>
          <p>
              일선 학교 교사들과의 협업을 통해, 로봇을 활용하여 학생들의 문제해결능력을 향상시키고 교육의 효과를 극대화하기 위한 교육 콘텐츠들을 개발하고 있으며, 로봇과 스마트기기를 연동하여 교육 환경을 새롭게 변화시키는 다양한 시도를 진행하고 있습니다.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/Reel_title_img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>기술 및 콘텐츠 개발</h2>
      <p>
        ● 비전문가를 위한 로봇콘텐츠 저작솔루션 개발로 로봇을 활용한 창작활동 촉진 <br />
        <b>※ 미니말리즘기반 User Created Robot 기술 개발,산업통상자원부,2009~2014(세부책임).</b>
      </p>

      <p>● 초등 교과수업에서 체험교육의 도구로 로봇을 활용하는 교육콘텐츠 15종 개발, 일부 콘텐츠는 세종시 참샘초등학교 및 참샘유치원에 설치/활용 중</p>
      <p>
        ● 스마트 환경에서 실감교육서비스를 위한 인간-로봇 상호작용 기술개발<br />
        <b>※ 인간 친화적 로봇 서비스 환경에서 복합지식 기반 판단 및 의미기반 로봇 표현 기술 개발, 산업통상자원부, 2012~2017 (총괄책임).</b>
      </p>
      <p>
        ● 스마트 디바이스와 다양한 로봇을 연동한 교육 서비스 개발<br />
        <b>※ 스마트 디바이스 기반 로봇의 대규모 서비스를 지원을 위한 서비스 플랫폼 기술 개발, 산업통상자원부, 2013~2016 (참여기관책임). </b>
      </p>
      <p>● 관련 특허 10여종 출원 및 등록</p>
      <br />
      <br />
      <h2>로봇관련 교육 프로그램 개발</h2>
      <p>
        ● 초,중등 수준의 로봇활용교육체계 정립<br />
        <b>※ 창의성 증진을 위한 로봇활용 교육방안 연구, 교육학술정보원, 2008 (참여).</b>
      </p>
      <p>
        ● 초등교육에서 로봇을 교과수업에 활용하는 교수안 200여종 개발
      </p>
      <p>
        ● 초중등 단계의 로봇기술교육체계 정립<br />
        <b>※ 로봇 소양 교육과정 개발 연구, 교육학술정보원, 2011 (책임). </b>
      </p>

    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Contents</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="https://www.youtube.com/watch?v=ZETg3IDqsbw" target="_blank">
            <img src="https://i.ytimg.com/vi/ZETg3IDqsbw/hqdefault.jpg?sqp=-oaymwEXCPYBEIoBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCAXqDGy--AStRLObzJs-yFnktuJA" width="200px"/>
          </a>
            <h4>AutoPen Move</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="https://www.youtube.com/watch?v=VZeD9ccBMmU" target="_blank">
            <img src="https://i.ytimg.com/vi/VZeD9ccBMmU/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLD_Fu2UO5sWrLpbOicark3x8etXAA"  width="200px" />
          </a>
          <h4>스마트 차단기</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="https://www.youtube.com/watch?v=PQUHOg0XKJ0" target="_blank">
            <img src="https://i.ytimg.com/vi/PQUHOg0XKJ0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCgfDPNCKPFT0_5xID3GJ6tmvz-zw" width="200px" />
          </a>
          <!--<i class="ion-image"></i>-->
          <h4>SiCi(Smart ideas for Creative interplay)</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!--<i class="ion-bug"></i> -->
          <a href="https://www.youtube.com/watch?v=keQ1C8zbVGg" target="_blank">
            <img src="https://i.ytimg.com/vi/keQ1C8zbVGg/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDa3M2ESLv7-C2BlYkoGlLzjz5BIw" width="200px" />
          </a>
          <h4>SiCi Tutorial - 11. Using the gravity sensor of the android device</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <a href="https://www.youtube.com/user/hsreelab/videos" class="btn btn-view-works" target="_blank">Youtube 영상 더 보기</a>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>SiCi Architect</h2>
          <img src="img/siciarchitect.png" width="70%"/>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->

<section id="service2">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>로봇-소프트웨어 문화 확산 활동</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6">
          <p>· 비전문가를 대상으로 한 새로운 개념의 경진대회 및 워크샵을 기획 및 운영 </p>
          <p>· 가족과 함께 하는 창작 로봇전(한국로봇산업진흥원 주관) 기획 </p>
          <p>· 스마트 환경에서 실감교육서비스를 위한 인간-로봇 상호작용 기술개발 </p>
          <p>· 로봇스쿨 기획 및 운영(한국로봇학회 주관) </p>
      </div>
      <div class="col-sm-6">
          <p>· Job World 직업체험 프로그램에서 소프트웨어 개발자 체험을 위해 SiCi 활용<br />(네이버 주관) </p>
          <p>· ICT-DIY 포럼에서 초보자용 솔루션으로 SiCi 활용(미래부, ETRI) </p>
          <p>· 서울 오봉초등학교에서 ‘SiCi’로 교육봉사</p>
      </div>
    </div>
  </div>
</section>
<section id="call-to-action2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h2>수/상/내/역</h2>
        </div>
        <div class="block">
          <ul class="counter-box">
            <li>
            진용규외, 최우수 논문상, 한국로봇학회 국문논문지, 2015
            </li>
            <li>H. K. Cho, et al., Best Demonstration Award,<br /> Int’l Conf. on Human-Robot Interaction, 2014. 3</li>
            <li>
            김정규외, 최우수 학생논문상, 한국로봇학회 종합학술대회, 2014. 6
            </li>
            <li>
            진용규, 학생우수발표논문상, ICROS 학술대회, 2013. 5
            </li>
            <li>
            김진성외, 최우수 시연상, 한국로봇학회 종합학술대회, 2012. 6
            </li>
            <li>
            조혜경, 로봇산업발전유공자 지식경제부장관표창, 2009. 12
            </li>
            <li>
            교내 공학경진대회 다수 수상
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h2>전/시/참/여</h2>
        </div>
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Title">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
